<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        beStrictAboutOutputDuringTests="true"
        bootstrap="vendor/autoload.php"
        failOnWarning="true"
        failOnRisky="true"
        verbose="true"
        colors="true"
>
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="Laravel Query Builder Test Suite">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
